<!DOCTYPE html>
<html lang="en">
{% extends 'userdashboard/base.html' %} {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% block title %}
    <title>Withdrawal List</title>
    {% endblock title %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>

<body>
    {% block content %}
    <div class="dashboard-content">
        <div class="content-title">
            <h1>Withdrawal List</h1>
        </div>
        <div class="content table-list-card">
            <div class="table-list-heading">
                <div class="table-title">List</div>
                <div class="show-entries input-entry">
                    <form action="" method="get">
                        <label for="entries">Show</label> <input type="number" name="entries" id="entries">
                        <span>entries</span>
                    </form>
                </div>
                <div class="search-table input-entry">
                    <form action="" method="post">
                        <label for=" search ">Search: </label> <input type="search" name="search" id="search" placeholder="Search">
                    </form>

                </div>
            </div>
            <div class="table-content">
                <table>
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Amount</th>
                            <th>Wallet address</th>
                            <th>Asset</th>
                            <th> Date Requested</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                        <tr>
                            <td>{{item.reference}}</td>
                            <td>{{item.amount|floatformat:"2g"}}</td>
                            <td>{{item.wallet_address}}</td>
                            <td>
                                <div class="asset-type">
                                    <div class="asset-image"><img src="{{item.asset.asset_icon.url}}" alt="{{item.asset.asset_abbr}}"></div>

                                    <div>
                                        <p class="asset-fullname">{{item.asset.asset_name}}</p>
                                        <p class="asset-shortname">{{item.asset.asset_abbr}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{item.date_requested}}</td>
                            <td class="trans-{{item.status}}">
                                <p>{{item.status}}</p>
                            </td>
                            <td>
                                <a href="{% url 'crypto:withdrawal_detail' item.slug %}" class="view-detail">View detail</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>

</html>