{% extends 'authentication/base.html' %} {% block content %}

<div class="display-sign-container" style="z-index: 1000;">
    <div class="sign-up-container">
        <div class="sign-up-card">
            <h1>Login</h1>{% if login_form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %} {% if next %} {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %} {% endif %}
            <form method="post" action="{% url 'auth_app:login' %}">
                {% csrf_token %}
                <div class="form-container">
                    {{ login_form }}
                </div>
                <input class="sign-up-button" type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <!-- <div class="showpassword-container">
                <input type="checkbox" onclick="showPassword(this)">
                <p class="showpassword-text">Show Password</p>
            </div> -->
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'auth_app:password_reset' %}" class="text-info">Lost password?</a>
            </p>
            <a class="create-profile-link" href="{% url 'main:home' %}">Return home</a>
        </div>
    </div>
</div>
{% endblock content %}